//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sun 10 22 23:39:36 2023

IO_LOC "io_i2c_scl" 48;
IO_PORT "io_i2c_scl" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "io_i2s_data" 27;
IO_PORT "io_i2s_data" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "io_i2s_lrclk" 25;
IO_PORT "io_i2s_lrclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "io_i2s_bclk" 26;
IO_PORT "io_i2s_bclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "io_spi_mosi" 37;
IO_PORT "io_spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_spi_clk" 36;
IO_PORT "io_spi_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_spi_cs" 38;
IO_PORT "io_spi_cs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "irq_s" 16;
IO_PORT "irq_s" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "irq_n" 15;
IO_PORT "irq_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "idle" 14;
IO_PORT "idle" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "valid" 13;
IO_PORT "valid" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "done" 11;
IO_PORT "done" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "busy" 10;
IO_PORT "busy" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "io_i2c_sda" 49;
IO_PORT "io_i2c_sda" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "io_spi_miso" 39;
IO_PORT "io_spi_miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msel" 63;
IO_PORT "msel" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "btn_n" 86;
IO_PORT "btn_n" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "btn_s" 85;
IO_PORT "btn_s" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "iclk" 35;
IO_PORT "iclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk_27" 52;
IO_PORT "clk_27" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
